section#feature.bg-blue-100.py-24
  .container
    .flex.flex-wrap.items-center
      .w-full(class="lg:w-1/2")
        .mb-5(class="lg:mb-0")
          h2.mb-12.section-heading.wow.fadeInDown(data-wow-delay="0.3s") Learn More About Us
          .flex.flex-wrap
            .w-full(class="sm:w-1/2 lg:w-1/2")
              .m-3
                .icon.text-4xl
                  i.lni.lni-layers
                .features-content
                  h4.feature-title Built with TailwindCSS
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    |   elit. Veniam tempora quidem vel sint.
            .w-full(class="sm:w-1/2 lg:w-1/2")
              .m-3
                .icon.text-4xl
                  i.lni.lni-gift
                .features-content
                  h4.feature-title Free to Use
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    |   elit. Veniam tempora quidem vel sint.
            .w-full(class="sm:w-1/2 lg:w-1/2")
              .m-3
                .icon.text-4xl
                  i.lni.lni-laptop-phone
                .features-content
                  h4.feature-title Fully Responsive
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    |   elit. Veniam tempora quidem vel sint.
            .w-full(class="sm:w-1/2 lg:w-1/2")
              .m-3
                .icon.text-4xl
                  i.lni.lni-leaf
                .features-content
                  h4.feature-title Easy to Customize
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    |   elit. Veniam tempora quidem vel sint.
      .w-full(class="lg:w-1/2")
        .mx-3.wow.fadeInRight(
          data-wow-delay="0.3s" 
          class="lg:mr-0 lg:ml-3"
          )
          img(
            alt="" 
            src="../assets/img/feature/img-1.svg"
            )
