extends ./layouts/main.pug

block content
  include ./sections/hero.pug
  include ./sections/services.pug
  include ./sections/feature.pug
  include ./sections/team.pug
  include ./sections/clients.pug
  include ./sections/testimonial.pug
  include ./sections/pricing.pug
  include ./sections/carousel.pug
  include ./sections/subscribes.pug
  include ./sections/contact.pug
  include ./sections/map.pug
